.main
{
    display: flex;
    justify-content: center;
}
.main .subMain
{
    width: 85%;
    /* background-color: aqua; */
    display: flex;
    gap: 50px;
}
.section2
{
    display: flex;
    align-items: center;
    gap: 50px;
}
.largePic
{
    border-radius: 15px;
}
.content
{
    font-family: 'Sora', sans-serif;
}
.content h4
{
    color: rgb(33, 33, 33);
    font-size: 30px;
}
.content h6
{
    color: rgb(184, 183, 183);
    font-weight: 600;
    font-size: 23px;
}
.content p
{
    font-weight: 600;
    color: black;
    font-size: 14px;
}