@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
.home
{
    display: flex;
    justify-content: center;
    font-family: 'Sora', sans-serif;
}
.home .contents
{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: aqua;
}
.home .contents .content1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.home .contents .content1 .col1 .saleBtn
{
    cursor: text;
background-color: rgb(219, 234, 254);
color: rgb(38, 66, 143);
font-weight: 550;
height: 40px;
width: 125px;
border-radius: 8px;
}
.home .contents .content1 .col1 h1
{
    margin-top: 5%;
    color: rgb(33, 33, 33);
    font-size: 45px;
    font-weight: bolder;
}
.home .contents .content1 .col1 p
{
    margin-top: 5%;
    width: 350px;
    color: rgb(33, 33, 33);
}
.shopingBtn
{
    width: 190px;
    height: 80px;
    margin-top: 5%;
    background-color: rgb(33, 33, 33);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.shopingBtn:hover
{
    background-color: rgb(39, 46, 63);
}
.home .contents .content1 .col2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 600px;
    border-radius: 50%;
    background-color: rgb(219, 234, 254);
}
.logoPics
{
    width: 495px;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}
.home .contents .content2 ,.home .contents .content3
{
    margin-top: 7%;
text-align: center;
background-color: brown;
width: 100%;
}
.content2 .promoHead, .content3 .promoHead
{
    color: #0062f5;
 font-size: 13px;
 font-weight: 700;
 margin-top: 3%;
}
.content2 h2, .content3 h2
{
    margin-top: 5%;
    color: rgb(33, 33, 33);
    font-size: 30px;
    font-weight: 700;
}
.promoPics
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.promoPics .card1
{
    background-color: rgb(214, 214, 216);
    width: 480px;
    height: 260px;
    display: flex;
    justify-content: center;
}
.promoPics .card1 div h4
{
    font-size: 28px;
    font-weight: 720;
    color: rgb(33, 33, 33);
    width: 150px;
}
.promoPics .card1 div
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.promoPics .card1 div p
{
    color: rgb(33, 33, 33);
    font-size: 17px;
    width: 140px;
}
.subCard1
{
    margin-top: 5%;
    background-color: rgb(33, 33, 33);
    width: 480px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.subCard1 h2
{
    font-size: 38px;
    font-weight: bolder;
    color: white;
}
.subCard1 p
{
    margin-top: 3%;
font-size: 14px;
}
.subCard1 button
{
    background-color: rgb(71, 71, 71);
    font-size: 14px;
    font-weight: bold;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    margin-top: 1%;
}
.card2
{
    background-color: rgb(239, 225, 199);
    width: 350px;
    height: 504px;
    display: flex;
    justify-content: center;
}
.card2 .content, .card3 .content
{
    display: flex;
justify-content: left;
flex-direction: column;
    width: 300px;
    height: 100px;
    margin-top: 10%;
}
.card2 div p, .card3 div p
{
    text-align: left;
    color: rgb(33, 33, 33);
    font-size: 18px;
}
.card2 div img
{
margin-top: 10%;
}
.card2 .prices, .card3 .prices
{
    display: flex;
    flex-direction: row;
}
.cardPrice
{
    text-decoration: line-through;
}
.cardPrice2
{
    font-weight: bold;
    margin-left: 4.3%;
}
.card3
{
    background-color: rgb(215, 215, 217);
    width: 350px;
    height: 504px;
    display: flex;
    justify-content: center;
}
.card3 div img
{
margin-top: 8%;
}
.home .contents .content3
{
    background-color: chartreuse;
}
.pics
{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.pics div
{
    transition: transform 0.3s ease;
}
.pics div:hover
{
    transform: scale(1.1);
}
.pic1 img
{
    height: 400px;
    width: 370px;
}
.pic1 .name, .pic2 .name, .pic3 .name
{
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    color: rgb(33, 33, 33);
    margin-top: 3.5%;
}
.pic1 .price, .pic2 .price, .pic3 .price
{
    text-align: start;
    font-size: 18px;
    font-weight: 600;
    color: rgb(33, 33, 33);
    margin-top: 2%;
}
.pic2 img, .pic3 img
{
    height: 400px;
    width: 340px;
}
.content4
{
    background-color: cadetblue;
    width: 100%;
    margin-top: 5%;
}
.content4 .head
{
    display: flex;
    justify-content: end;
}
.content4 h2
{
    color: rgb(57, 73, 104);
    font-size: 45px;
    font-weight: bolder;
    width: 490px;
}
.content4 .content
{
    background-color: rgb(248, 250, 253);
    padding-top: 7%;
    display: flex;
    justify-content: space-between;
}
.content4 .content .col1, .content4 .content .col2
{
    margin-bottom: 3.5%;
}
.content4 .content .col1
{
    margin-left: 4%;
    width: 505px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content4 .content .col1 h1
{
    color: rgb(229, 231, 235);
    font-size: 85px;
    font-weight: 900;
    position: absolute;
    width: 280px;
}
.content4 .content .col1 div
{
    z-index: 1;
    position: relative;
}
.row1 , .row2
{
    display: flex;
    justify-content: space-between;
}
.row1 div ,.row2 div
{
    width: 225px;
    color: rgb(30, 38, 54);
}
.row1 div h4, .row2 div h4
{
    font-weight: bold;
}
.row1 div p, .row2 div p
{
    margin-top: 4%;
    font-weight: 300;
}
.content4 .content .col2
{
    margin-right: 4%;
    display: flex;
    justify-content: space-between;
}
.content4 .content .col2 div img
{
    width: 350px;
    height: 370px;
}
.content4 .content .col2 div
{
    margin-left:5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content4 .content .col2 div p
{
    width: 230px;
    font-weight: 300;
    display: block;
    box-sizing: border-box;
}
.content4 .content .col2 div button
{
    background-color: rgb(33, 33, 33);
    color: white;
    width: 123px;
    height: 60px;
}