@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
.home
{
    display: flex;
    justify-content: center;
    font-family: 'Sora', sans-serif;
}
.home .contents
{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    background-color: aqua;
}
.home .contents .content1
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home .contents .content1 .col1 .saleBtn
{
    cursor: text;
background-color: rgb(219, 234, 254);
color: rgb(38, 66, 143);
font-weight: 550;
height: 40px;
width: 125px;
border-radius: 8px;
}
.home .contents .content1 .col1 h1
{
    margin-top: 5%;
    color: rgb(33, 33, 33);
    font-size: 45px;
    font-weight: bolder;
}
.home .contents .content1 .col1 p
{
    margin-top: 5%;
    width: 350px;
    color: rgb(33, 33, 33);
}
.shopingBtn
{
    width: 190px;
    height: 80px;
    margin-top: 5%;
    background-color: rgb(33, 33, 33);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.shopingBtn:hover
{
    background-color: rgb(39, 46, 63);
}
.home .contents .content1 .col2
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 600px;
    border-radius: 50%;
    background-color: rgb(219, 234, 254);
}
.logoPics
{
    width: 495px;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}
.home .contents .content2
{
    margin-top: 7%;
text-align: center;
background-color: brown;
width: 100%;
}
.content2 .promoHead
{
    color: #0062f5;
 font-size: 13px;
 font-weight: 700;
 margin-top: 3%;
}
.content2 h2
{
    margin-top: 5%;
    color: rgb(33, 33, 33);
    font-size: 30px;
    font-weight: 700;
}
.promoPics
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.promoPics .card1
{
    background-color: rgb(214, 214, 216);
    width: 480px;
    height: 260px;
    display: flex;
    justify-content: center;
}
.promoPics .card1 div h4
{
    font-size: 28px;
    font-weight: 720;
    color: rgb(33, 33, 33);
    width: 150px;
}
.promoPics .card1 div
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.promoPics .card1 div p
{
    color: rgb(33, 33, 33);
    font-size: 17px;
    width: 140px;
}
.subCard1
{
    margin-top: 5%;
    background-color: rgb(33, 33, 33);
    width: 480px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.subCard1 h2
{
    font-size: 38px;
    font-weight: bolder;
    color: white;
}
.subCard1 p
{
    margin-top: 3%;
font-size: 14px;
}
.subCard1 button
{
    background-color: rgb(71, 71, 71);
    font-size: 14px;
    font-weight: bold;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    margin-top: 1%;
}
.card2
{
    background-color: rgb(239, 225, 199);
    width: 350px;
    height: 504px;
    display: flex;
    justify-content: center;
}
.card2 div
{
    width: 300px;
    height: 100px;
    background-color: aqua;
}
.card3
{
    background-color: rgb(215, 215, 217);
    width: 350px;
    height: 504px;
}